
/* Set up colour palette and fonts using variables */

:root {
  --primary: #35bbca;
  --onprimary:#000000;
  --secondary: #0191b4;
  --onsecondary:#ffffff;
  --tertiary:#f8d90f;
  --ontertiary: #000000;
  --page:#ffffff;
  --onpage:#000000;
  --detail: #fe7a15;
  --detail2: #d3dd18;

  --body-font: 1rem Verdana, serif;
  --header-font: 3rem "Nunito", cursive;
  --title-font: lighter 2rem "Nunito", cursive;
  --quote-font: lighter 2rem "Fredoka One", cursive;
}